.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav li {
    color:red
}

.menu {
  display: flex;
  gap: 2rem;
}

@media (max-width: 767.98px) {
  .menu {
    flex-direction: column;
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    background: #fff;
    transform: translateY(-200px);
    transition: transform 0.3s ease;
    visibility: hidden;
    opacity: 0;
  }
  .menu.open {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}
